// scss-lint:disable all
// scss-lint를 적용하지 않겠다는 뜻

@font-face {
  font-family: 'tomorrow-house';
  // src: url('fonts/tomorrow-house.eot?to8179'); -> ?to8179와 같이 뒤에 붙는 이상한 태그 지우기
  src: url('./assets/fonts/tomorrow-house.eot');
  src: url('./assets/fonts/tomorrow-house.eot#iefix') format('embedded-opentype'), url('./assets/fonts/tomorrow-house.ttf') format('truetype'), url('./assets/fonts/tomorrow-house.woff') format('woff'),
    url('./assets/fonts/tomorrow-house.svg#tomorrow-house') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
